.background {
  background: linear-gradient(
    180deg,
    rgba(109, 221, 240, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
  padding-top: 50px;
}

.header-select {
  color: $mainTextColor;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-select {
  color: $hoverTextColor;
}

#cards-block .card .list-group.collapse:not(.show) {
  display: block;
  height: 2rem;
  overflow: hidden;
}

#cards-block .card .list-group.collapsing {
  height: 4rem;
}

#cards-block a.collapsed::after {
  content: "+ Show More";
}

#cards-block a:not(.collapsed)::after {
  content: "- Show Less";
}
